/* section {
  display: block;
}

.MarketingFooter_footer__3vEwh {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
ul > li {
  line-height: 3ch;
  display: list-item;
  text-align: -webkit-match-parent;
}
.ggAeeZ {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 84rem;
}
.MarketingFooter_footerRow__1cYIP {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.MarketingFooter_footerColumn__2l1zp {
  width: 100%;
  padding: 0rem !important;
  text-align: center;
  flex-shrink: 0;
}

.MarketingFooter_footerColumn__2l1zp > h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.MarketingFooter_footerColumn__2l1zp > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #6e6e6e;
}
.Footer_footerLinkList__1gXZw {
  padding: 0 0.75rem;
  margin-bottom: 0;
  list-style: none;
  font-size: 0.75rem;
}
.Footer_footerLinkList__1gXZw > li {
  display: inline-block;
  margin: 0 0.25rem;
  line-height: 2rem;
  height: 2rem;
  color: grey;
}

.Footer_footer__1_BW4 {
  --footerItemHeight: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 1rem;
  text-align: center;
  color: #999;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}

@media (min-width: 521px) {
  .Footer_footerLinkList__1gXZw {
    display: inline-block;
  }
  .Footer_footerSection__rMIU3 {
    display: flex;
    align-items: center;
  }
  .ggAeeZ {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .MarketingFooter_footerColumn__2l1zp {
    width: 50%;
  }
  .MarketingFooter_footerRow__1cYIP {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .MarketingFooter_logoColumn__1xuHY {
    display: none;
  }
}
@media (min-width: 741px) {
  .Footer_footer__1_BW4 {
    flex-direction: row;
    justify-content: space-between;
  }
  .MarketingFooter_footerColumn__2l1zp {
    width: 25%;
    text-align: left;
  }
}

.MarketingFooter_logoColumn__1xuHY {
  display: inline;
  display: initial;
  padding-top: 0;
}

@media (min-width: 1025px) {
  .MarketingFooter_logoColumn__1xuHY {
    display: inline;
    display: initial;
  }
  .MarketingFooter_footerColumn__2l1zp {
    width: 20%;
  }
}


:root {
  --rem: 16px;
  --colorBorderDefault: #d9d9d9;
  --colorBorderMuted: #e6e6e6;
  --colorBorderVeryMuted: #e5e5e5;
  --colorFieldOutline: rgba(170, 153, 255, 0.6);
  --colorImagePlaceholderIcon: #e6e6e6;
  --colorPrimary: #53f;
  --colorPrimaryHover: #3b19e6;
  --colorTextDefault: #1f1f1f;
  --colorTextMuted: #999;
  --colorTextSemiMuted: #6e6e6e;
  --colorTextVeryMuted: #c4c4c4;
  --fontFamilySans: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  --fontFamilyMono: "SF Mono", Menlo, Courier, monospace;
  --elementBorderRadius: 0.25rem;
  --headerNavHeight: 4rem;
} */
.footer {
  display: inline;
}
.footer > ul {
  padding-left: 0px;
  list-style: none;
  text-align: left;
  color: #6e6e6e;
}
.footer > ul > li > a {
  font-size: 0.775rem;
}
.footer > h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
}

.footerBottom {
  display: flex;
  padding-left: 0px;
  list-style: none;
  text-align: left;
  color: #6e6e6e;
  flex-direction: row;
  justify-content: space-between;
}

.footerBottom > li {
  font-size: 0.775rem;
  display: inline;
}
.footerBottom > h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
}
.fb {
  --footerItemHeight: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 1rem;
  text-align: center;
  color: #999;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.fb-right {
  text-align: right;
}
.fb-center {
  text-align: center;
}
.fb-right > li {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}
